<h1>Main: here is the funny pic</h1>
<form action="/main" method="get">
<img src="https://media.istockphoto.com/photos/funny-cat-picture-id157336901?s=612x612" alt="funny cat img">
<a href="/profile">Profile</a>
</form>
